# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.lo
*.la
Makefile
Makefile.in
.deps
.libs
configure
libtool
autom4te.cache
config.guess
config.log
config.status
config.sub
depcomp
doc/html
gea.pc
include/gea/config.h
include/gea/stamp-h1
install-sh
ltmain.sh
missing
src/utils/gea_start
