Source: libgea2
Priority: optional
Maintainer: Andre Herms <aherms@ivs.cs.uni-magdeburg.de>
Build-Depends: debhelper (>= 4.0.0), autoconf (>= 2.3), automake1.9|automaken, libtool (>= 1.5), c++-compiler
Standards-Version: 3.7.2

Package: libgea2-dev
Section: libdevel
Architecture: any
Depends: libgea2 (= ${binary:Version})
Description: GEA - an abstraction layer for developing network protocols
 The GEA libray provides an abstraction layer for network protocols.
 Functions , e.g. like sending packets, are provided and mapped to the
 underlying system. This is by default the POSIX-API. But other
 platforms can also provide an implementation. Currently such an
 implementation exists for the ns-2. This allow protocols developed
 with GEA to run on native POSIX platforms (like Linux or Unix). But
 the same implementation can be used in the ns-2 network simulator. By
 this the protocol implementation can be tested in large simulated
 networks.


Package: libgea2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libgea
Description: GEA - an abstraction layer for developing network protocols
 The GEA libray provides an abstraction layer for network protocols.
 Functions , e.g. like sending packets, are provided and mapped to the
 underlying system. This is by default the POSIX-API. But other
 platforms can also provide an implementation. Currently such an
 implementation exists for the ns-2. This allow protocols developed
 with GEA to run on native POSIX platforms (like Linux or Unix). But
 the same implementation can be used in the ns-2 network simulator. By
 this the protocol implementation can be tested in large simulated
 networks.
